# Outlier Detection and Removal Using IQR

In [1]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/FeatureEngineering/3_outlier_IQR/heights.csv')
df.head()

    name  height
0  mohan     1.2
1  maria     2.3
2  sakib     4.9
3    tao     5.1
4  virat     5.2

In [2]:
df.describe()

          height
count  20.000000
mean    8.390000
std     8.782812
min     1.200000
25%     5.350000
50%     5.700000
75%     6.275000
max    40.200000

In [3]:
df.shape

(20, 2)

# Detect outliers using IQR

In [5]:
Q1=df.height.quantile(.25)
Q3=df.height.quantile(.75)
Q1,Q3

(5.3500000000000005, 6.275)

In [6]:
IQR=Q3-Q1
IQR

0.9249999999999998

In [7]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

(3.962500000000001, 7.6625)

Here are the outliers

In [8]:
df[(df.height<lower_limit)|(df.height>upper_limit)]

     name  height
0   mohan     1.2
1   maria     2.3
17  aamir    14.5
18    ken    23.2
19    Liu    40.2

# Remove outliers

In [11]:
df_no_outlier = df[(df.height>lower_limit)&(df.height<upper_limit)]
df_no_outlier.shape

(15, 2)

In [12]:
df.shape

(20, 2)